@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

.bgcontainer {
  background: #F5F5DC;
  width: 400px;
  margin: auto;
}

.bgcontainer h1 {
  text-align: center;
  font-family: "Bonheur Royale";
  color: #D2691E;
  font-size: 60px;
}

.formcontainer {
  float: left;
  background: white;
  padding: 10px;
  width: 400px;
}

.formcontainer h2 {
  text-align: center;
  color: #D2691E;
}

ul {
  list-style-type: none;
}

.displaylist {
  margin: auto;
  background: white;
  padding: 10px;
  height: 200px;
  width: 400px;
}

.displaylist h3 {
  text-align: center;
  color: #D2691E;
}

.maptime {
  float: right;
  padding: 10px;
  height: 100px;
  width: 400px;
  text-align: center;
  background-color: #F5F5DC;
  border-radius: 10px;
  position: absolute;
  top: 190px;
  right:0;

}

.maptime h4 {
  text-align: center;
  color: #D2691E;
}

.maptime button {
  display: inline-block;
  background-color: #228b22;
  border-radius: 15px;
  width: 55px;
  text-align: center;

}

button:hover {
  background-color: grey;
}
