/* css for calendar */
html {
    font-family: "IM Fell English SC";
 background-color: rgb(95, 62, 18);
 background-image: url(img/yee2.jpg);
 background-repeat:repeat;
 background-position: center;
 background-size:cover;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
}
.cal_container {
            width: 60%;
            height: 50%;
            color: rgb(0, 0, 0);
            display: absolute;
            justify-content: right;
            align-items: center;
            padding:15%;
            margin:none;
        }

        .calendar {
            width: 40%;
            height: 30%;
            background-color: #fcfcff;
            justify-content: right;
            float: right;
        }

        .month {
            width: 76.3%;
            height: 75px;
            background-color: olivedrab;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 60px;
            text-align: center;
            color: white;
        }

        .month i {
            font-size: 20px;
            cursor: pointer;
        }

        .month h1 {
            font-size: 50px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        .month p {
            font-size: 15px;
            font-style: italic;
        }

        .weekdays {
            width: 100%;
            height: 60px;
            padding: 10px;
            display: flex;
            align-items: center;
        }

        .weekdays div {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 2px;
            width: calc(45rem / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
        }

        .days {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 2.0px;
            color: black;
        }

        .days div {
            font-size: 20px;
            margin: 3.0px;
            width: calc(40.2rem/ 7);
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s;
            color: black;
        }

        .days div:hover:not(.today) {
            background-color: rgb(244, 255, 87);
            border: 2px solid #e6ee08;
            cursor: pointer;
        }

        .prev-date,
        .next-date {
            opacity: 0.5;
        }

        .today {
            border: dashed;
        }

/* css for meal tracker */
.checklist {
            position: relative;
            background: #fff;
            width: 50%;
            color: #fff;
        }
        /*styling for the checklist title*/

        .checklist h2 {
            background: olivedrab;;
            color: #fff;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 40px;
        }
        /* Sets
up the checklist */

        .checklist ul {
            position: relative;
            padding: 20px;
        }
        /* adds borders to the checklist */

        .checklist ul li {
            position: relative;
            list-style: none;
            padding: 15px 0;
            border: 1px solid rgb(0, 0, 0);
            color: rgb(0, 0, 0);
        }

        .checklist ul li label {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: left;
            cursor: pointer;
        }
        /* Hides input checkbox that is the default of CSS */

        .checklist ul li label input {
            visibility: hidden;
            appearance: none;
        }

        .checklist ul li label p {
            position: absolute;
        }

        .checklist ul li label span {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* pseudo class for the label
*/

        .checklist ul li label span:before {
            content: '';
            position: absolute;
            top: 5px;
            width: 10px;
            height: 5px;
            border-left: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            transform: rotate(-40deg)
        }
        /* Turns checkbox green when clicked */

        .checklist ul li label input:checked~span {
            background: olivedrab;
            border: 1px solid olivedrab;
        }
        /* Unchecked checkbox design */

        .checklist ul li label input:checked~span::before {
            border-left: 2px solid#ccc;
            border-bottom: 2px solid #ccc;
        }

        /* back button grocery lists */
.buttonBg {
    background-color: darkseagreen;
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }

/* utilities page */

.Utilities-title{
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 10;
    margin: 10;
    color: rgba(151, 196, 147, 0.74);
    background-color: rgba(36, 102, 20, 0.79);
}

.utility-list {
    text-align: left;
    color: #000;
    margin-top: auto;
}

.util {
    background-color: burlywood;
    width: 95%;
    padding: 15px;
    border-radius: 16px;
    outline: #228b22;
}

.utility-img {
    width: auto;
    height: 150px;
    align-items: left;
}

.description{
    text-align: left;
    margin-top: auto;
    display: inline-block;
    position: relative;
}
.supplies {
    display: absolute;
    max-width: 25%;
    max-height: 95px;
    overflow: none;
}

.template {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 100px;
    grid-template: auto/repeat(auto-fit, minmax(500px, 1fr));
}

/*THIS IS WHERE THE CSS FOR THE PERSONAL RECIPES LIES!!!!!*/
/* FORMATTING FOR PERSONAL RECIPES FORM */
.description{
    padding:6%;
    }
    .inputOfUser {
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
margin: 2%;
    }


    .item {
         width: 40%;
      border-radius: 8px;
      background-color: rgba(87, 163, 91);
      padding: 1%;
      margin: auto;
      overflow: hidden;
      justify-content: center;
    }

    .item img {
        width: 100%;
      height: max-content;
      border-radius: 4px;
    }

    .flex-win {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .item23{
        padding:2%;
        margin:3%;
    }
.inputs4Recipes{
    font-weight: bolder;
    background-color: rgb(131, 73, 39);
    padding: 3%;
    margin :10%;
    justify-content: center;
    align-items:inherit;
    height:20%;
  }
  .inputs4Recipes h2{
    text-decoration: underline;
  }
  .description{
    padding-right: 1%;
    padding-left: 1%;
  }
  .name-cat{
      padding-bottom: 1%;
  }
  .PersonHeader{
    background-color: #228b22;
  }
  #submitR{
    margin-left: 80%;
    background-color: #228b22;
  }
  #submitR:hover{
    background-color: yellowgreen;
  }
  #formFile{
    padding-left: 1%;
  }
  .cat{
    padding-left: none;

  }
  #add{
    margin-bottom: 3%;
    align-content: center;
    width: 100%;
    text-align: left;
  }
  .newParts{
    padding: 2%;
  }

  /*This is where it ends*/
